<section class="hero">
  <div class="container mx-auto px-4 py-16 text-center">
    <h1 class="mb-4 text-4xl font-bold text-gray-800 dark:text-gray-200">
      Welcome to My Personal Project
    </h1>
    <p class="mb-8 text-lg text-gray-600 dark:text-gray-400">
      A showcase of my skills and passion for software development.
    </p>
    <div class="flex justify-center gap-4">
      <a href="https://github.com/mario1velasco" target="_blank" rel="noopener">
        View on GitHub
      </a>
      <a href="https://github.com/mario1velasco" target="_blank" rel="noopener">
        Explore Storybook
      </a>
    </div>
  </div>
</section>

<section class="project-overview bg-gray-200 py-16 dark:bg-gray-800">
  <div class="container mx-auto px-4">
    <h2 class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-200">
      Project Overview
    </h2>
    <p class="mb-8 text-lg text-gray-600 dark:text-gray-400">
      [Detailed description of your project, its purpose, and key features.
      Highlight the problem it solves, the benefits it provides, and any unique
      aspects.]
    </p>
  </div>
</section>

<section class="technologies py-16">
  <div class="container mx-auto px-4">
    <h2 class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-200">
      Technologies Used
    </h2>
    <ul class="list-disc text-lg text-gray-600 dark:text-gray-400">
      <li>
        <strong>Angular</strong> - A powerful framework for building web
        applications with TypeScript.
      </li>
      <li>
        <strong>TypeScript</strong> - A superset of JavaScript that adds static
        typing for better code organization and maintainability.
      </li>
      <li>
        <strong>NgRx SignalStore</strong> - A robust state management solution
        for Angular, built with native Signal support. It offers a simple,
        declarative way to define stores, making state management more efficient
        and flexible.
      </li>
      <li>
        <strong>Playwright</strong> - An end-to-end testing framework for web
        applications, enabling reliable and cross-browser testing.
      </li>
      <li>
        <strong>Nx</strong> - A powerful monorepo management tool for building
        and managing large-scale projects with multiple applications and
        libraries.
      </li>
      <li>
        <strong>Nx Cloud</strong> - A cloud-based service that accelerates
        builds and tests for Nx projects, improving developer productivity.
      </li>
      <li>
        <strong>GitHub Actions</strong> - A CI/CD platform for automating
        builds, tests, and deployments of your projects.
      </li>
      <li>
        <strong>Storybook</strong> - A development environment for building and
        documenting UI components, allowing for isolated component development
        and testing.
      </li>
      <li>
        <strong>Storybook Interactions Tests</strong> - A feature of Storybook
        that enables testing component interactions and user flows.
      </li>
      <li>
        <strong>Tailwind CSS</strong> - A utility-first CSS framework that makes
        it easy to build custom designs without writing a lot of CSS.
      </li>
    </ul>
  </div>
</section>

<section class="about-me bg-gray-200 py-16 dark:bg-gray-800">
  <div class="container mx-auto px-4">
    <h2 class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-200">
      About Me
    </h2>
    <p class="mb-8 text-lg text-gray-600 dark:text-gray-400">
      I'm a seasoned Front-End Developer with extensive experience in Angular
      and a solid background in developing and maintaining scalable web
      applications. I have a proven track record of leading teams, architecting
      micro-front-end projects, and implementing CI/CD pipelines. I'm adept at
      mentoring developers and fostering team growth through strategic hiring
      initiatives.
    </p>
    <p class="mb-8 text-lg text-gray-600 dark:text-gray-400">
      My experience spans various roles, from Front-End Manager to Front-End
      Team Lead and Angular Senior Developer. I've successfully implemented
      technologies like NgRx for state management, Playwright for end-to-end
      testing, and Nx for monorepo management. I'm passionate about building
      high-quality web applications and continuously learning new technologies.
    </p>
    <p class="mb-8 text-lg text-gray-600 dark:text-gray-400">
      In my current role as Front-End Manager at Bizaway, I define and implement
      front-end development standards and best practices. I collaborate with
      cross-functional teams to align front-end development with business
      objectives. I actively participate in design reviews using Figma,
      providing technical insights to the UI/UX team and ensuring alignment
      between design and front-end implementation. I mentor and develop junior
      and mid-level developers, providing guidance and professional growth
      opportunities. I conduct performance reviews, provide constructive
      feedback to team members, and contribute to team growth through hiring
      initiatives. I also developed Bitbucket pipelines for CI/CD and drive
      innovation within the team by staying current with the latest industry
      trends and technologies.
    </p>
    <div class="flex justify-center gap-4">
      <a href="mario1velasco@gmail.com" target="_blank" rel="noopener">
        <ui-button
          text="Contact Me"
          color="primary"
          size="medium"
          type="button"
        ></ui-button>
      </a>
      <a
        href="https://www.linkedin.com/in/mariovelascoalonso/"
        target="_blank"
        rel="noopener"
      >
        <ui-button
          text="Connect on LinkedIn"
          color="primary"
          size="medium"
          type="button"
        ></ui-button>
      </a>
    </div>
  </div>
</section>
